BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 80
BraceWrapping:
  AfterControlStatement: false
  AfterFunction: false
  AfterClass: false
  AfterStruct: false
  AfterEnum: false
  AfterNamespace: false

